body {
    font-family: Arial, sans-serif;
    background-color:#EADDCA;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 40px;
  font-family: Garamond, serif;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    text-align: left;
    margin-bottom: 10px;
}

label {
    font-family: 'Trebuchet MS'; sans-serif;
  font-size:15px;
  
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    padding: 10px;
    background-color: #000000 ;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius:20px;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}


